html,
body {
  height: 100%;
}

#menu {
  background-color: rgb(71, 105, 199);
  color: white;
  height: 100vh;
}

#menu-topic {
  text-align: center;
  padding-top: 5%;
  font-size: min(5vw, 54px);
}

#name-list {
  margin-top: 9%;
  text-align: center;
  font-size: min(2.3vw, 20px);
}

#content {
  background-color: whitesmoke;
  color: black;
}

#content-topic {
  text-align: center;
  padding-top: 5%;
  font-size: min(5vw, 54px);
}

#content-box {
  padding-top: 4%;
  text-align: center;
  font-size: min(2.3vw, 20px);
  background-color: rgba(190, 190, 190, 0.6);
  border-radius: 5%;
  margin: auto;
  height: 50vh;
  width: 80%;
}

a.list {
  color: white;
}
/* a:visited{
    color: rgb(255, 255, 151);
} */
a:hover {
  color: wheat;
}
