<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Holder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="holder.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <script type="text/javascript" src="holder.js"></script>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div id="menu" class="col-sm-4">
            <p id="menu-topic">WALLET</p>
            <div id="name-list">   

              <!-- <a href="" style="color:red">Request for transcript.</a> -->
              <button disabled>Request for transcript.</button>
          </div>
        </div>
        <div id="content" class="col-sm-8">
          <p id="content-topic">HOLDER</p>
          <div id="content-box">
            <p>

            
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <script>
      var x = document.getElementById("name");
      x.addEventListener("click", test);

      function test() {
        selectedData =
      }
    </script>   -->

  </body>
</html>
