<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>


  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div id="top" class="col-sm-4">
          <h1>VDGREE</h1>
        </div>
        <div id="middle"></div>
        <div id="buttom">
          <center>

            <form class="form" method="post" action="/holder" id="holder_form"> 
              <input type="password" name="password" placeholder="Enter your password" text-align="center" />
              <!-- <input type="submit" value="submit" /> -->
            </form>
            
            <button type="submit" form="holder_form" >เริ่มใช้งานระบบ</button>
          </center>

        </div>
      </div>
    </div>
  </body>
</html>
