<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div id="top" class="col-sm-4">
          <h1>VDGREE</h1>
        </div>
        <div id="middle"></div>
        <div id="buttom">
          <center>
            <Form
              style="padding-top: 2%"
              name="passwordForm"
              onsubmit="return test()"
              method="post"
            >
              <Input
                type="password"
                id="inputPass"
                name="password"
                placeholder="Enter your password"
              />
              <!-- <input type="submit" value="เริ่มใช้งานระบบ"></input> -->
            </Form>
            <button>เริ่มใช้งานระบบ</button>
          </center>
          <!-- <button>เริ่มใช้งานระบบ</button> -->
        </div>
      </div>
    </div>
  </body>
</html>
