html,
body {
  height: 100%;
}

/* #menu {
  background-color: rgb(71, 105, 199);
  color: white;
  height: 100vh;
}

#menu-topic {
  text-align: center;
  padding-top: 5%;
  font-size: min(5vw, 54px);
}

#name-list {
  margin-top: 9%;
  text-align: center;
  font-size: min(2.3vw, 20px);
} */

#content {
  background-color: whitesmoke;
  color: black;
  height: 100vh;
  padding-top: 50px;
}

#content-box {
  text-align: center;
  font-size: min(2.3vw, 26px);
  /* background-color: rgba(190, 190, 190, 0.6); */
  padding-top: 100px;
  border-radius: 5%;
  margin: auto;
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: left;
}

a.list {
  color: white;
}

a:hover {
  color: wheat;
}

/* For side nav bar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  /*  Top nav   */
  transition: margin-left 0.5s;
  background-color: black;
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button.menu-list {
  /*  menu's style  */
  font-size: 22px;
  text-decoration: none;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
}

a.list {
  font-size: 18px;
  text-align: center;
  margin-left: -15%;
}

img {
  padding-bottom: 10%;
}

h2 {
  color: #818181;
}

#uuid {
  padding-top: 6px;
  padding-left: 20px;
  font-size: 18px;
}

input {
  background-color: white;
}

#sentbtn {
  margin-top: 30px;
  margin-right: 12px;
}

#inbox {
  color: white;
  margin-top: -13px;
}

#textbox {
  border: 3px solid black;
  border-radius: 9px;
  width: 600px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: left;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}
