#top {
  text-align: center;
  color: white;
  font-size: 600%;
  -webkit-text-stroke: 3px black; /* font border */
  background-color: rgb(56, 123, 248);
  height: 64vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#middle {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 155, 250);
}

#buttom {
  height: 30vh;
  width: 100%;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(165, 195, 250);
}

#inputPass {
  max-width: 50%;
  text-align: center;
}

button {
  height: 20%;
  width: 40%;
}

form {
  padding-top: 2%;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
